<!-- <mat-list>
  <mat-list-item>
    <h3 matLine><a [routerLink]="['/articles', article.id]"> {{article.title}}</a></h3>
    <p matLine>{{article.content}}</p>
  </mat-list-item>
</mat-list> -->
<table *ngIf="article; else notFound">
  <thead>
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th></th>
    </tr>
  </thead>
 <tbody>
   <tr>
     <td><a [routerLink]="['/articles', article.id]"> {{article.title}}</a></td>
     <td>{{article.content}}</td>
     <td>
       <button (click)="delete(article)">Delete</button>
     </td>
   </tr>
 </tbody>
</table>
<ng-template #notFound>
  <p>
    Article Not found
  </p>
</ng-template>
